@namespace SW.SimplyRazor

<SimplyNotify Notification="Ping" OnReceived="OnReceived"  />

<h3>@data</h3>

@code {

    string data;

    void OnReceived(Ping data)
    {
        this.data = data.Data;

    }

}
