@typeparam TResponse
@namespace SW.SimplyRazor
@inject NotifyService notify
@inject ApiService apiService
@inject AuthenticationStateProvider authenticationStateProvider
@inject ComponentOptions componentOptions

<button disabled="@working" type="button" @onclick="ButtonOnClick" @attributes="UnmatchedAttributes">
    @if (working)
    {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
    else
    {
        @Text
    }
</button>

@code {

    bool working;

    [Parameter]
    public string CommandUrl { get; set; }

    [Parameter]
    public object Request { get; set; }

    [Parameter]
    public EventCallback<ApiResult<TResponse>> OnResult { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> UnmatchedAttributes { get; set; }

    [Parameter]
    public string Text { get; set; }

    async Task ButtonOnClick(EventArgs args)
    {
        try
        {
            working = true;

            var jwt = await authenticationStateProvider.GenerateJwt(componentOptions.ApiTokenKey, componentOptions.ApiTokenIssuer, componentOptions.ApiTokenAudience);

            if (jwt != null)

                apiService.HttpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", jwt);

            var result = await apiService.HttpClient.PostAsync(CommandUrl, Request);

            if ((int)result.StatusCode >= 200 && (int)result.StatusCode < 300)
            {

                TResponse response;
                if (typeof(TResponse) == typeof(string))

                    response = (TResponse)(object)(await result.Content.ReadAsStringAsync());

                else
                    response = await result.Content.ReadAsAsync<TResponse>();

                await OnResult.InvokeAsync(new ApiResult<TResponse>
                {
                    StatusCode = (int)result.StatusCode,
                    Success = true,
                    Response = response
                });
            }
            else if ((int)result.StatusCode >= 400 && (int)result.StatusCode < 500)
            {
                var messages = await result.Content.ReadAsAsync<Dictionary<string, IEnumerable<string>>>();

                foreach (var kvp in messages)
                {
                    if (kvp.Key.StartsWith("Field."))
                    {
                        await notify.Publish(new InvalidFieldNotification
                        {
                            Message = string.Join(", ", kvp.Value),
                        }, kvp.Key.Split('.')[1]);
                    }
                    else
                    {
                        await notify.Publish(new UserMessage
                        {
                            Body = string.Join(",", kvp.Value),
                            Level = AlertLevel.Warning,

                        });
                    }

                }

                await OnResult.InvokeAsync(new ApiResult<TResponse>
                {
                    StatusCode = (int)result.StatusCode,
                });
            }
            else if ((int)result.StatusCode >= 500)
            {
                await notify.Publish(new UserMessage
                {
                    Body = "server error",
                    Level = AlertLevel.Error
                });

                await OnResult.InvokeAsync(new ApiResult<TResponse>
                {
                    StatusCode = (int)result.StatusCode,
                });
            }

            working = false;
        }
        catch (Exception ex)
        {
            await notify.Publish(new UserMessage
            {
                Body = ex.Message,
                Level = AlertLevel.Error
            });

            await OnResult.InvokeAsync(new ApiResult<TResponse>
            {
                StatusCode = 0,
            });

        }
    }
}
