@namespace SW.SimplyRazor

<div class="modal" tabindex="-1" role="dialog" style="display:block">
    <div class="modal-dialog" role="document" style="display:block">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button @onclick="() => OnUserChoice(false)" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                <BusyButton OnClick="bb => OnUserChoice(true)" class="btn btn-primary">
                    <Title>
                        Confirm
                    </Title>
                </BusyButton>
                <button @onclick="() => OnUserChoice(false)" type="button" class="btn btn-secondary">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>


@code {

    [Parameter]
    public EventCallback<bool> OnClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public AlertLevel Level { get; set; }

    async Task OnUserChoice(bool choice, IBusyButton busyButton = null)
    {
        try
        {
            await OnClick.InvokeAsync(choice);
        }
        catch (Exception)
        {
            throw;
        }
        finally
        {
            if (busyButton != null) await busyButton.SetBusy(false);
        }
    }
}
