@namespace SW.SimplyRazor

<div class="dropdown-menu" style="display: block; " @onclick="() => OnClick.InvokeAsync(true)">
    @ChildContent
</div>
<div style="top:0; left:0;  position:fixed; width: 100%; height :100%; z-index:999;" @onclick="() => OnClick.InvokeAsync(false)">
</div>

@code {

    [Parameter]
    public EventCallback<bool> OnClick { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}