@namespace SW.SimplyRazor
@implements IDisposable
@inject IJSRuntime JSRuntime

<div @ref="alertRef" class="alert @alertCss fade show" role="alert">
    @((MarkupString)Body)
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

@code {

    string alertCss;
    System.Timers.Timer countdown;
    //bool visible;
    ElementReference alertRef;

    [CascadingParameter]
    public ISimplyAlertHub AlertHub { get; set; }

    [CascadingParameter]
    public int Index { get; set; }

    [Parameter]
    public string Body { get; set; }

    [Parameter]
    public AttentionLevel Level { get; set; }

    protected override void OnInitialized()
    {

        switch (Level)
        {
            case AttentionLevel.Error:
                alertCss = "alert-danger";
                break;

            case AttentionLevel.Warning:
                alertCss = "alert-warning";
                break;

            case AttentionLevel.Success:
                alertCss = "alert-success";
                break;

            case 0:
                alertCss = "alert-info";
                break;
        }

        countdown = new System.Timers.Timer(TimeSpan.FromSeconds(5).TotalMilliseconds);
        countdown.Elapsed += async (s, e) => await OnDue();
        countdown.AutoReset = false;
        countdown.Start();
    }

    async protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("simplyAlertInterop.showAlert",
                alertRef,
                DotNetObjectReference.Create(this));
        }
    }

    async Task OnDue()
    {
        await JSRuntime.InvokeVoidAsync("simplyAlertInterop.closeAlert", alertRef);
    }

    [JSInvokable]
    public Task OnAlertClosed()
    {
        countdown.Stop();
        AlertHub?.RemoveAlert(Index);
        return Task.CompletedTask;
    }

    void IDisposable.Dispose()
    {
        countdown?.Dispose();
    }

}
