@namespace SW.SimplyRazor

@switch (Type)
{
    case ActionType.TableAdd:
        {
            <button type="button" class="btn btn-outline-secondary btn-sm float-right" @onclick="() => Table.AddModel()"><span class="oi oi-plus" /></button>
            break;
        }

    case ActionType.TableDelete:
        {
            <button @onclick="(()=> Table.DeleteModel(ItemIndex))" class="btn btn-outline-secondary btn-sm"><span class="oi oi-x" /></button>
            break;
        }

    case ActionType.TableEdit:
        {
            <button @onclick="(()=> Table.EditModel(ItemIndex))" class="btn btn-outline-secondary btn-sm"><span class="oi oi-pencil" /></button>
            break;
        }
    case ActionType.TableNavigate:
        {

            break;
        }
    case ActionType.TableView:
        {

            break;
        }


}

@code {

    [CascadingParameter(Name = "Table")]
    public ISimplyTable Table { get; set; }

    [CascadingParameter(Name = "ItemIndex")]
    public int ItemIndex { get; set; }

    [Parameter]
    public ActionType Type { get; set; }

}
