#autoComplete_list {
    /*position: fixed;*/
    z-index: 1000;
    padding: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    /*width: 18rem;*/
    transition: all 0.1s ease-in-out;
    -webkit-transition: all -webkit-transform 0.1s ease;
}

.autoComplete_result {
    margin: 0.15rem auto;
    padding: 0.3rem;
    /*max-width: 280px;*/
    border: 0.05rem solid #e3e3e3;
    list-style: none;
    text-align: left;
    font-size: 1.0rem;
    color: rgb(123, 123, 123);
    transition: all 0.1s ease-in-out;
    background-color: #fff;
}

    .autoComplete_result::selection {
        color: rgba(#ffffff, 0);
        background-color: rgba(#ffffff, 0);
    }

    .autoComplete_result:last-child {
        /*border-radius: 0 0 1rem 1rem;*/
    }

    .autoComplete_result:hover {
        cursor: pointer;
        background-color: rgba(255, 248, 248, 0.9);
        border-left: 2px solid rgba(255, 122, 122, 1);
        border-right: 2px solid rgba(255, 122, 122, 1);
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }

    .autoComplete_result:focus {
        outline: none;
        background-color: rgba(255, 248, 248, 0.9);
        border-left: 2px solid rgba(255, 122, 122, 1);
        border-right: 2px solid rgba(255, 122, 122, 1);
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
    }

.autoComplete_highlighted {
    opacity: 1;
    color: rgba(255, 122, 122, 1);
    font-weight: bold;
}

    .autoComplete_highlighted::selection {
        color: rgba(#ffffff, 0);
        background-color: rgba(#ffffff, 0);
    }

.autoComplete_selected {
    cursor: pointer;
    background-color: rgba(255, 248, 248, 0.9);
    border-left: 2px solid rgba(255, 122, 122, 1);
    border-right: 2px solid rgba(255, 122, 122, 1);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
