@namespace SW.SimplyRazor

@if (!string.IsNullOrEmpty(State.Text))
{
    <label for="@State.Id">@State.Text</label>
}
<SimplyUpload id="@State.Id"
              ValueChanged="(e)=> ValueChanged.InvokeAsync(e)"
              @attributes="UnmatchedAttributes" />

@code {

    [Parameter]
    public EventCallback<object> ValueChanged { get; set; }

    [Parameter]
    public IField State { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> UnmatchedAttributes { get; set; }


}
