@typeparam TModel
@namespace SW.SimplyRazor
@*@if (RenderMode != FieldRole.Input) { return; }*@

<SimplyNotify Notification="DatalistReady" OnReceived="OnReceived"></SimplyNotify>

<div class="clearfix mt-2 mb-1">
    <label>@Text</label>
</div>

@if (Value == null || Value.Count == 0)
{
    <p>Nothing to display, <button type="button" class="btn btn-link" @onclick="AddOnClick">click here</button> to add.</p>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-sm">
                <thead>
                    <tr>
                        <CascadingValue Value="FieldRole.ColumnName" Name="RenderMode">
                            <SimplyForm Value="Value.First()">
                                @ChildContent
                            </SimplyForm>
                        </CascadingValue>
                        <th align="right" scope="col" style="width:95px;">
                            <button type="button" class="btn btn-outline-secondary btn-sm float-right" @onclick="AddOnClick"><span class="oi oi-plus" /></button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        for (var i = 0; i < Value.Count; i++)
                        {
                            var itemIndex = i;
                            <tr @key="Value[itemIndex]">
                                <CascadingValue Value="FieldRole.ColumnValue" Name="RenderMode">
                                    <SimplyForm Value="Value[itemIndex]">
                                        @ChildContent
                                    </SimplyForm>
                                </CascadingValue>
                                <td align="right">
                                    <button @onclick="(()=> EditModel(itemIndex))" class="btn btn-outline-secondary btn-sm"><span class="oi oi-pencil" /></button>
                                    <button @onclick="(()=> Value.RemoveAt(itemIndex))" class="btn btn-outline-secondary btn-sm"><span class="oi oi-x" /></button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

@{ if (beingEditedModel != null)
    {
        <SimplyModal OnVisibilityChanged="OnModalVisibilityChanged">
            <Content>
                <CascadingValue Value="FieldRole.Input" Name="RenderMode">
                    <SimplyForm Name="@($"{Name}{beingEditedModelIndex}")" Value="beingEditedModel" OnSubmit="()=> OnFormSubmit(context)">
                        @ChildContent
                    </SimplyForm>
                </CascadingValue>
            </Content>
            <Footer>
                @*<button type="reset" class="btn btn-secondary" form="@($"{Name}{beingEditedModelIndex}")">Close</button>*@
                <button type="submit" class="btn btn-primary" form="@($"{Name}{beingEditedModelIndex}")">Ok</button>
            </Footer>
        </SimplyModal>
    }
}


@code {

    [CascadingParameter(Name = "Form")]
    public ISimplyForm Form { get; set; }

    [CascadingParameter(Name = "Model")]
    public object Model { get; set; }

    [CascadingParameter(Name = "RenderMode")]
    public FieldRole RenderMode { get; set; }

    [Parameter]
    public IList<TModel> Value { get; set; }

    [Parameter]
    public EventCallback<IList<TModel>> ValueChanged { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string For { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public bool Edit { get; set; }

    [Parameter]
    public bool Add { get; set; }

    [Parameter]
    public bool Delete { get; set; }

    object beingEditedModel = null;
    int beingEditedModelIndex;

    protected override void OnInitialized()
    {

        if (Name == null) Name = "MainTable";
        if (Value != null) return;
        if (Model == null) return;

        Type arrayType = Model.GetType();
        var childModel = Model;

        var arr = Name.Split('.');

        for (var i = 0; i < arr.Length; i++)
        {
            var pInfo = arrayType.GetProperty(arr[i]);
            arrayType = pInfo.PropertyType;
            if (childModel != null) childModel = pInfo.GetValue(childModel);
        };

        Value = childModel == null ? new List<TModel>() : ((IEnumerable<TModel>)childModel).ToList();
    }

    void OnReceived(DatalistReady datalist)
    {
        Value = ((IEnumerable<TModel>)datalist.Datalist).ToList();
    }

    //Task OnModalKeyDown(KeyboardEventArgs args)
    //{
    //    if (args.Code == "Enter") return OnFormSubmit(args);
    //    if (args.Code == "Escape") return OnFormReset(args);
    //    return Task.CompletedTask;
    //}

    Task AddOnClick(EventArgs args)
    {
        beingEditedModelIndex = -1;
        beingEditedModel = Activator.CreateInstance<TModel>();// (modelType);
        return Task.CompletedTask;
    }

    Task EditModel(int index)
    {
        beingEditedModelIndex = index;
        beingEditedModel = Value[index].DeepClone(); //JsonConvert.DeserializeObject<TModel>(JsonConvert.SerializeObject( collection[index]));
        return Task.CompletedTask;
    }

    async Task OnFormSubmit(ISimplyModal modal)
    {

        if (beingEditedModelIndex < 0)
        {
            Value.Add((TModel)beingEditedModel);
        }
        else
        {
            beingEditedModel.DeepCloneTo(Value[beingEditedModelIndex]);// = (TModel)beingEditedModel;
        }

        if (Form != null) await Form.FieldValueChanged(Name);

        await modal.Hide();
    }

    Task OnModalVisibilityChanged(bool visible)
    {
        if (!visible) beingEditedModel = null;
        return Task.CompletedTask;

    }

    //async Task OnFormReset(ISimplyModal modal)
    //{
    //    await modal.Close();

    //    beingEditedModel = null;
    //    //return Task.CompletedTask;
    //}





}
