@typeparam TModel
@implements ISimplyTable
@namespace SW.SimplyRazor
@using System.Reflection


<div>
    <CascadingValue Value="this" Name="Table">
        @Header
    </CascadingValue>
</div>

@if (Value?.Count > 0)
{
    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <CascadingValue IsFixed="true" Value="FieldRole.ColumnName" Name="RenderMode">
                    <SimplyForm Value="Value.First()">
                        @Fields
                    </SimplyForm>
                </CascadingValue>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Value.Count; i++)
            {
                var itemIndex = i;
                <tr @key="Value[itemIndex]">
                    <CascadingValue  Value="this" Name="Table">
                        <CascadingValue Value="itemIndex" Name="ItemIndex">
                            <CascadingValue IsFixed="true" Value="FieldRole.ColumnValue" Name="RenderMode">
                                <SimplyForm Value="Value[itemIndex]">
                                    @Fields
                                </SimplyForm>
                            </CascadingValue>
                        </CascadingValue>
                    </CascadingValue>
                </tr>
            }
        </tbody>
    </table>
}

@if (beingEditedModel != null)
{
    <SimplyModal OnVisibilityChanged="OnModalVisibilityChanged">
        <Content>
            <CascadingValue  Value="this" Name="Table">
                <CascadingValue Value="beingEditedModelIndex" Name="ItemIndex">
                    <CascadingValue IsFixed="true" Value="FieldRole.Input" Name="RenderMode">
                        <SimplyForm Name="@($"{Name}{beingEditedModelIndex}")" Value="beingEditedModel" OnSubmit="()=> OnFormSubmit(context)">
                            @Fields
                        </SimplyForm>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </Content>
        <Footer>
            <button type="submit" class="btn btn-primary" form="@($"{Name}{beingEditedModelIndex}")">Ok</button>
            @*<button type="reset" class="btn btn-secondary" form="@($"{Name}{beingEditedModelIndex}")">Close</button>*@
        </Footer>
    </SimplyModal>
}

@code {

    [CascadingParameter(Name = "Form")]
    public ISimplyForm Form { get; set; }

    [CascadingParameter(Name = "Model")]
    public object Model { get; set; }

    [CascadingParameter(Name = "RenderMode")]
    public FieldRole RenderMode { get; set; }

    [Parameter]
    public IList<TModel> Value { get; set; }

    [Parameter]
    public EventCallback<IList<TModel>> ValueChanged { get; set; }

    [Parameter]
    public EventCallback<TableItem<TModel>> OnItem { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string For { get; set; }

    [Parameter]
    public RenderFragment Fields { get; set; }

    [Parameter]
    public RenderFragment Header { get; set; }

    TModel beingEditedModel;
    int beingEditedModelIndex;
    PropertyInfo propertyInfo;
    string[] nameArray;

    protected override void OnInitialized()
    {
        if (Name == null) Name = "MainTable";
        if (Value != null)
        {
            ItemData = new TableItemData(Value.Count);
            return;
        }

        if (Model == null) return;

        Type modelType = Model.GetType();
        var childModel = Model;

        nameArray = Name.Split('.');

        for (var i = 0; i < nameArray.Length; i++)
        {
            propertyInfo = modelType.GetProperty(nameArray[i]);
            modelType = propertyInfo.PropertyType;
            if (childModel != null) childModel = propertyInfo.GetValue(childModel);
        };

        Value = childModel == null ? null : (IList<TModel>)childModel;
        if (Value!=null) ItemData = new TableItemData(Value.Count);
    }

    //void OnReceived(DatalistReady datalist)
    //{
    //    Value = ((IEnumerable<TModel>)datalist.Datalist).ToList();
    //    ItemData = new TableItemData(Value.Count);
    //}

    //Task OnModalKeyDown(KeyboardEventArgs args)
    //{
    //    if (args.Code == "Enter") return OnFormSubmit(args);
    //    if (args.Code == "Escape") return OnFormReset(args);
    //    return Task.CompletedTask;
    //}

    public Task AddModel()
    {
        beingEditedModelIndex = (Value == null) ? 0 : Value.Count;
        beingEditedModel = Activator.CreateInstance<TModel>();
        StateHasChanged();
        return Task.CompletedTask;
    }

    public Task ChangeModel(int index)
    {
        beingEditedModelIndex = index;
        beingEditedModel = Object.DeepClone(Value[index]); 
        StateHasChanged();
        return Task.CompletedTask;
    }

    public Task RemoveModel(int index)
    {
        Value.RemoveAt(index);
        StateHasChanged();
        return Task.CompletedTask;
    }

    async Task OnFormSubmit(ISimplyModal modal)
    {
        if (beingEditedModelIndex == 0 && Value == null || beingEditedModelIndex == Value.Count)
        {
            if (Value == null)
            {
                Value = new List<TModel>();

                if (propertyInfo != null)
                {
                    object obj = Model;

                    for (int i = 0; i < nameArray.Length - 1; i++)
                    {
                        var targetProp = obj.GetType().GetProperty(nameArray[i]);
                        var nextType = targetProp.PropertyType;
                        var nextObj = targetProp.GetValue(obj);
                        if (nextObj == null)
                        {
                            nextObj = Activator.CreateInstance(nextType);
                            targetProp.SetValue(obj, nextObj);
                        }

                        obj = nextObj;
                    }
                    propertyInfo.SetValue(obj, Value);

                }
            }

            await OnItem.InvokeAsync(new TableItem<TModel>
            {
                Item = beingEditedModel,
                Flag = TableItemFlag.Added
            });

            Value.Add((TModel)beingEditedModel);
        }
        else
        {
            await OnItem.InvokeAsync(new TableItem<TModel>
            {
                Item = beingEditedModel,
                Flag = TableItemFlag.Changed
            });

            Object.DeepClone(beingEditedModel, Value[beingEditedModelIndex]);
        }

        await ValueChanged.InvokeAsync(Value);
        if (Form != null) await Form.FieldValueChanged(Name);

        await modal.Hide();
    }

    Task OnModalVisibilityChanged(bool visible)
    {
        if (!visible) beingEditedModel = default(TModel);
        return Task.CompletedTask;
    }

    public TableItemData ItemData { get; set; }


}
