@page "/dropdown"
<h3>Dropdown</h3>
<div class="dropdown">
    <button class="btn btn-secondary " type="button">
        Save
    </button>


    <BusyButton class="btn btn-secondary dropdown-toggle">
        <Title>
            Export
        </Title>
        <IfBusy>
            <Dropdown OnClick="() => DropdownOnClick(context)">
                <a class="dropdown-item" href="profile">Profile</a>
                <a class="dropdown-item" href="changepassword">Change Password</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="Logout">Logout</a>
            </Dropdown>
        </IfBusy>
    </BusyButton>
</div>
@code {

    async Task DropdownOnClick(IBusyButton busyButton)
    {
        await busyButton.SetBusy(false);
    }


}
