@page "/form"

<SimplyForm @bind-Value="Employee.Sample[0]">

    <FieldGroup>
        <FormField Name="FirstName" readonly></FormField>
        <FormField Name="LastName"></FormField>
    </FieldGroup>

    <FormField Name="Age" />
    <FormField Name="Married" />
    <FormField Name="EmploymentStatus" Lookup="intmock" />
    <FormField Name="Country" Lookup="country" />
    <FormField Name="Photo" Lookup="country" Component="typeof(FieldForUpload)" />



    <FieldGroup>
        <FormField Name="Salary.Amount" />
        <FormField Name="Salary.Currency" />
    </FieldGroup>
    <FormArray Name="Leaves" Display="Leaves" TModel="Leave">
        <FormField Name="Reason" />
        <FormField Name="Days" min="1" max="100" pattern="[0-9]{5}" />
    </FormArray>

</SimplyForm>

<p>Age: @Employee.Sample[0].Age</p>
<p>Emp Status: @Employee.Sample[0].EmploymentStatus</p>
<p>Country: @Employee.Sample[0].Country</p>
<p>Photo: @Employee.Sample[0].Photo</p>

@code {

    Task OnFormChange(object formModel)
    {
        Employee.Sample[0] = (Employee)formModel;
        return Task.CompletedTask;
    }



}
