@page "/form2"
@inject NavigationManager navigationManager

<SimplyAlertHub></SimplyAlertHub>

<Query QueryUrl="@($"employees/5")" OnResult="OnQueryResult" TResponse="Employee" />

<SimplyReady @bind-Ready="ready">

    <SimplyForm @bind-Value="employee">

        <Field Name="FirstName" InputType="InputType.Multiline"></Field>
        <Field Name="LastName"></Field>

        <Field Name="@nameof(Employee.Age)" />
        <div>test</div>
        <Field Name="Married" />
        <Field Name="EmploymentStatus" Lookup="mockmodels" />
        <Field Name="Country" Lookup="countries" />
        <Field Name="Photo" />

        <Field Name="Salary.Amount" />
        <Field Name="Salary.Currency" />
    </SimplyForm>

    <h5>Addtional Values</h5>

    <SimplyDictionary @bind-Value="employee.AdditionalValues"></SimplyDictionary>

    <h5>Roles</h5>

    <SimplyList @bind-Value="employee.Roles" Lookup="countries"></SimplyList>

    <h5>Leaves</h5>

    <SimplyTable @bind-Value="employee.Leaves" NewText="Add new leave..">


        @*<TableHeader>
                <button type="button" class="btn btn-outline-secondary btn-sm" ><span class="oi oi-plus" /></button>
            </TableHeader>*@
        <Columns>

            <Field Text="Action">
                <ColumnValue>
                    <button type="button" class="btn btn-link" @onclick="@(() => context.Action.Invoke("remove", context.Model))">Remove</button>
                    <button type="button" class="btn btn-link" @onclick="@(() => context.Action.Invoke("edit", context.Model))">Edit</button>
                </ColumnValue>
            </Field>
            <Field Name="Reason" />
            <Field Name="Days" />
        </Columns>
        <Form>
            <Field Name="Reason" />
            <Field Name="Days" />
        </Form>
    </SimplyTable>

    <div class="container-fluid mt-5">
        <Command Text="Save" CommandUrl="employees/5" Request="employee" OnResult="OnSaveResult" class="btn btn-secondary" />
    </div>

    <p>Age: @employee?.Age</p>
    <p>Emp Status: @employee?.EmploymentStatus</p>
    <p>Country: @employee?.Country</p>
    <p>Photo: @employee?.Photo</p>

</SimplyReady>

@code {

    Employee employee;
    bool ready;

    void OnSaveResult(ApiResult apiResult)
    {
        if (apiResult.Success)
            navigationManager.NavigateTo("/");
    }

    void OnQueryResult(ApiResult<Employee> apiResult)
    {
        if (apiResult.Success)
        {
            employee = apiResult.Response;
            ready = true;
        }
    }

}
