@page "/form3"
@using Models 

<h3>Form3</h3>

<SimplyForm @bind-Value="parcel" >
    <Field Name="Reference" ></Field>
    
    <Field Name="Address.Street" InputType="InputType.Multiline"></Field>


</SimplyForm>

@code {

    Parcel parcel = new Parcel
    {
        Weight = new PrimitiveTypes.Weight(12, PrimitiveTypes.WeightUnit.kg)
    };

}
