@page "/form2"
@inject NavigationManager navigationManager

<SimplyAlertHub></SimplyAlertHub>

<SimplyQuery QueryUrl="@($"employees/5")" @bind-Value="employee" @bind-Ready="ready" />

<SimplyReady @bind-Ready="ready">

    <SimplyForm @bind-Value="employee">

        <Field Name="FirstName" InputType="InputType.Multiline"></Field>
        <Field Name="LastName"></Field>

        <Field Name="@nameof(Employee.Age)" />
        <div>test</div>
        <Field Name="Married" />
        <Field Name="EmploymentStatus" Lookup="mockmodels" />
        <Field Name="Country" Lookup="countries" />
        <Field Name="Photo" />

        <Field Name="Salary.Amount" />
        <Field Name="Salary.Currency" />
    </SimplyForm>

    <h5>Addtional Values</h5>

    <SimplyDictionary  @bind-Value="employee.AdditionalValues" ></SimplyDictionary>

    <h5>Roles</h5>

    <SimplyList @bind-Value="employee.Roles" Lookup="countries"></SimplyList>

    <h5>Leaves</h5>

    <SimplyTable @bind-Value="employee.Leaves">
        <Header>
            
        </Header>
        <Columns>
            <Field Name="Reason" />
            <Field Name="Days" />
        </Columns>
        <Form>
            <Field Name="Reason" />
            <Field Name="Days" />
        </Form>
    </SimplyTable>

    <div class="container-fluid mt-5">
        <SimplyCommand Text="Save" CommandUrl="employees/5" Request="employee" OnSuccess="SaveOnSuccess" class="btn btn-secondary" />
    </div>

    <p>Age: @employee?.Age</p>
    <p>Emp Status: @employee?.EmploymentStatus</p>
    <p>Country: @employee?.Country</p>
    <p>Photo: @employee?.Photo</p>

</SimplyReady>

@code {

    Employee employee;
    bool ready;

    void SaveOnSuccess(object obj)
    {
        navigationManager.NavigateTo("/");
    }

}
