@page "/grid"

<h3>Grid</h3>

<SimplyGrid TModel="Employee">
    <SimplyColumn Field="id" Title="Id" />
    <SimplyColumn Field="firstName" Title="First Name" />
    <SimplyColumn Field="lastName" Title="Last Name" />
</SimplyGrid>

@code {

}
