@page "/"
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime
@inject IServiceProvider serviceProvider


<SimplyAlertHub></SimplyAlertHub>

<SimplySearch PageSize="10" SearchUrl="employees" OnItem="OnItem" TModel="Employee" Height="200px" Width="max-content">
    <Commands>
        <button class="btn btn-primary" type="button" @onclick="() => OnExportToExcel(context.SearchyRequest)">Export</button>
        <a href="form2">
            New Employee
        </a>
    </Commands>
    <Filters>
        <Field Name="Id" Text="Id" Required="true"></Field>
        <Field Name="EmploymentDate" Required="true"></Field>


        @*<Field Name="HandlerName"  Text="Handler" ></Field>
            <Field Name="Started" Text="Date" ></Field>*@
    </Filters>
    <Columns>
        <Field Name="Id" Text="Id">
            <ColumnValue>
                <a @onclick="@(() => context.Action.Invoke("s", "s"))">Edit</a>
            </ColumnValue>
        </Field>
        <Field Name="FirstName" />
        <Field Name="LastName" />
        <Field Name="Age" />
        <Field Name="EmploymentDate" />
        <Field Name="Married" />
        <Field Name="EmploymentStatus" />
        <Field Name="Country" />
        <Field Name="Salary.Amount" />
        <Field Name="Salary.Currency" />
    </Columns>
</SimplySearch>

@code{

    SimplySearchValue search;

    void OnSearch(SimplySearchValue value)
    {
        navigationManager.NavigateTo($"/{value.ToString()}");
    }

    async Task OnExportToExcel(SearchyRequest searchyRequest)
    {
        var apiClient = serviceProvider.GetApiClient();
        //var result = await apiClient.PostAsync<RemoteBlob>(actionValue.ToString(), searchRequest);

        //if (result.Success)
        //{
        //    await JSRuntime.DownloadFile(result.Response.Location, result.Response.Name);
        //}
    }

    void OnItem(TableItem tableItem)
    {
        if (tableItem.Flag == TableItemFlag.Clicked)
            navigationManager.NavigateTo($"/form2?id={((Employee)tableItem.Item).Id}");
    }
}