@page "/select"
<h3>SelectExamples</h3>

<p>
    <SimplySelectForLookup @bind-Value="value" EmptyText="Select country" Lookup="country"></SimplySelectForLookup>

</p>

<p>
    @value
</p>

<p>
    <SimplySelectForLookup @bind-Value="value2" EmptyText="Select country" Lookup="country"></SimplySelectForLookup>

</p>

<p>
    @value2
</p>

<p>
    <SimplySelectForLookup @bind-Value="value3" EmptyText="Select integer" Lookup="intmock"></SimplySelectForLookup>
</p>

<p>
    @value3
</p>

<p>
    <SimplySelectForLookup @bind-Value="value4" EmptyText="Select integer" Lookup="intmock"></SimplySelectForLookup>
</p>

<p>
    @value4
</p>

@code {
    string value;
    string value2 = "JO";
    int value3;
    int value4=2;

    void test()
    {

    }
}
