@namespace SW.SimplyRazor

<button  disabled="@Working" type="submit" @onclick="ButtonOnClick" @attributes="UnmatchedAttributes">
    @if (Working)
    {
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    }
    else if (clicked)
    {
        @Clicked
    }
    else
    {
        @Text
    }
</button>

@code {

    bool clicked;
    string cssClass;

    [Parameter]
    public bool Working { get; set; }

    [Parameter]
    public object Value { get; set; }

    [Parameter]
    public EventCallback<object> OnClick { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> UnmatchedAttributes { get; set; }

    [Parameter]
    public RenderFragment Text { get; set; }

    [Parameter]
    public RenderFragment Clicked { get; set; }

    protected override void OnInitialized()
    {
        if (Clicked == null) Clicked = Text;
        cssClass = "btn btn-primary btn-block";
    }

    async Task ButtonOnClick(EventArgs args)
    {
        Working = true;
        await OnClick.InvokeAsync(Value);
        Working = false;
        clicked = true;
    }
}
