@typeparam TModel
@namespace SW.SimplyRazor

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <CascadingValue IsFixed="true" Value="FieldRole.ColumnName" Name="RenderMode">
                <CascadingValue Value="Data.First()" Name="Model">
                    @ChildContent
                </CascadingValue>
            </CascadingValue>
        </tr>
    </thead>
    <tbody>
        <CascadingValue IsFixed="true" Value="FieldRole.ColumnValue" Name="RenderMode">
            @foreach (var item in Data)
            {
                <tr @key="item" @onclick="() => RowClicked.InvokeAsync(item)">
                    <CascadingValue Value="item" Name="Model">
                        @ChildContent
                    </CascadingValue>
                </tr>
            }
        </CascadingValue>
    </tbody>
</table>


@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public IEnumerable<TModel> Data { get; set; }

    [Parameter]
    public EventCallback<TModel> RowClicked { get; set; }

}
